# User media like image/video...
assets/userMedia/imgCourseBanner/
assets/userMedia/imgUserProfile/
assets/userMedia/vidCourseMain/

# Sensitive data like "infoDB.php" (Database identification information)
php/protectedInfo/infoDB.php

dumpDB
