body {
    display: flexbox;
}

header {
    background-color: #76BCBE;
    font-weight: bold;
    max-height: 100%;
    margin: 0;
    padding: 0;
}

header>img {
    border-right: 1px solid white;
}

.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {
    background-color: #ddd;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.account {
    float: right;
    vertical-align: middle;
    line-height: 200px;
    max-height: 200px;
    margin-right: 5%;
}

.dropdown>button {
    margin-left: 40%;
}

header>a>input {
    margin-left: 3.8%;
}

main {
    margin: auto;
    width: 50%;
    text-align: center;
}

main>.recommendedLessons {

    width: auto;
   
}

main>.recommendedLessons>div {
    border: 1px solid;
    min-width: 400px;
    max-width: 400px;
    min-height: 250px;
    max-height: 250px;
    display: inline-block;
    margin: 1rem;
}

.signInForm {
    margin-top: 15%;
    border: 1px solid;
}

.CreeCours {
    position: relative;
}

.CreeCours>div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
}
.noPromoPrice {
    text-decoration: line-through;
}

.currentPrice {
    font-weight: bold;
}